.site-header__burger {
  display: none;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.site-header__image {
  margin: 30px 0;
}

@media only screen and (max-width: 1280px) {
  .site-header__container {
    max-width: 689px;
  }
}
@media only screen and (max-width: 720px) {
  .site-header {
    position: relative;
  }
  .site-header__image {
    max-width: 200px;
  }
  .site-header__burger {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    width: 30px;
    cursor: pointer;
  }
  .site-header__container {
    max-width: 328px;
    justify-content: space-between;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  .site-header__burger--inner {
    margin: 2px 0;
  }
  .site-header__burger--inner,
.site-header__burger::after,
.site-header__burger::before {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #333D4B;
    border-radius: 1.5px;
    transition: 0.3s ease all;
  }
  .site-header__nav--opened .site-header__burger--inner {
    display: none;
  }
  .site-header__nav--opened .site-header__burger::before {
    transform: translateY(50%) rotate(45deg);
  }
  .site-header__nav--opened .site-header__burger::after {
    transform: translateY(50%) rotate(-45deg);
  }
  .site-header__nav--opened .site-header__burger::before,
.site-header__nav--opened .site-header__burger::after {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .site-header__nav {
    display: none;
  }
  .site-header__nav--opened {
    background-color: #FEFCF7;
    width: 328px;
  }
  @-webkit-keyframes nav-open {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes nav-open {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .site-header__nav--opened .site-header__nav {
    display: block;
    -webkit-animation: 0.5s alternate nav-open;
            animation: 0.5s alternate nav-open;
  }
  .site-header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #fff;
    background: linear-gradient(180deg, #FEFCF7 55.94%, rgba(254, 252, 247, 0.504981) 100%);
  }
  .site-header__image {
    margin: 30px 0;
  }
  body {
    max-width: 328px;
  }
}
/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v12-latin-500.woff2") format("woff2"), url("../fonts/barlow-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  margin: 0 auto;
  max-width: 1280px;
}

* {
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 30px 0;
}

.nav__list-link {
  text-decoration: none;
  color: #83888F;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.nav__list-item {
  margin-left: 32px;
}

@media only screen and (max-width: 720px) {
  .nav__list {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .nav__list-item {
    margin: 0;
    margin-top: 32px;
  }
  .site-header__nav-link {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
}
.intro {
  background: url(../../img/cup-of-coffee.jpg) no-repeat;
  width: 100%;
  height: 1280px;
}

.intro__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
  margin: 0;
}

.intro__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  max-width: 445px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 32px 0 71px 0;
}

.intro__link {
  text-decoration: none;
  background-color: #66D2CF;
  padding: 15px 31px;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
}

.intro__container {
  margin-left: 85px;
  padding-top: 100px;
}

@media only screen and (max-width: 1280px) {
  .intro {
    background: url(../../img/coffee.png) no-repeat;
    border-radius: 6px;
    max-width: 689px;
  }
  .intro__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
  }
  .intro__text {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    max-width: 398px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 24px 0 55px 0;
  }
  .intro__container {
    margin-left: 58px;
    padding-top: 100px;
  }
  .intro__link {
    background-color: #0E8784;
  }
}
@media only screen and (max-width: 720px) {
  .intro__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 100px;
  }
  .intro__text {
    text-align: center;
    max-width: 279px;
    margin: 24px 0 54px 20px;
  }
  .intro__container {
    margin: 0;
    padding: 0;
    padding-bottom: 115px;
    max-width: 328px;
  }
  .intro {
    background: url(../../img/intro-mobile.png) no-repeat top left;
    height: 100%;
    max-width: 328px;
  }
  .intro__link {
    margin-left: 50px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.intro__about-us {
  background: url(../../img/About-us.png) no-repeat;
  height: 450px;
  width: 100%;
}

.intro__other-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0;
}

.intro__other-decription {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #afafaf;
  max-width: 445px;
  margin: 0;
  margin-top: 24px;
}

.intro__other-container {
  margin-left: 85px;
  padding-top: 120px;
}

@media only screen and (max-width: 1280px) {
  .intro__about-us {
    background: url(../../img/about-us-tablet.png) no-repeat;
  }
  .intro__other-container {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    padding-top: 100px;
  }
  .intro__other-title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #FEFCF7;
  }
  .intro__other-decription {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #afafaf;
    max-width: 398px;
  }
}
@media only screen and (max-width: 720px) {
  .intro__about-us {
    background: url(../../img/about-us-mobile.png) no-repeat;
  }
  .intro__other-title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FEFCF7;
    max-width: 279px;
  }
  .intro__other-container {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    margin-left: 24px;
  }
  .intro__other-decription {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #afafaf;
    max-width: 279px;
  }
}
.about-us {
  display: flex;
  margin-top: 168px;
  margin-left: 90px;
}

.about-us__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin: 80px 0 32px 0;
}

.about-us__description {
  font-family: "barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  max-width: 540px;
  margin: 0;
}

.about-us__container {
  margin-left: 125px;
}

@media only screen and (max-width: 1280px) {
  .about-us {
    height: 470px;
    width: 100%;
    margin: 100px 0 0 0;
  }
  .about-us__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #333D4B;
    margin: 0 0 30px 0;
    max-width: 339px;
  }
  .about-us__description {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    max-width: 339px;
  }
  .about-us__container {
    margin: 8px 0 0 69px;
  }
}
@media only screen and (max-width: 720px) {
  .about-us {
    flex-direction: column;
    margin: 80px 0 0 0;
  }
  .about-us__container {
    margin: 48px 0 0 0;
  }
  .about-us__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #333D4B;
    max-width: 327px;
  }
  .about-us__description {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;
    max-width: 327px;
  }
}
.quality {
  background-color: #2C343E;
  border-radius: 10px;
  height: 474px;
  position: relative;
  margin-top: 224px;
}

.quality::before {
  content: "";
  display: block;
  background: url(../../img/quality-coffee.png) no-repeat;
  height: 474px;
  width: 445px;
  position: absolute;
  right: 85px;
  bottom: 90px;
}

.quality__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0 0 32px 0;
}

.quality__description {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  max-width: 540px;
  margin: 0;
  opacity: 0.8;
}

.quality__container {
  margin: 0 0 0 85px;
  padding-top: 90px;
}

@media only screen and (max-width: 1280px) {
  .quality {
    max-width: 688px;
    max-height: 488px;
    margin-top: 300px;
  }
  .quality::before {
    content: "";
    display: block;
    background: url(../../img/quality-tablet.png) no-repeat;
    border-radius: 10px;
    width: 573px;
    left: 60px;
    bottom: 160px;
  }
  .quality__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
  }
  .quality__description {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
    margin-left: 70px;
  }
  .quality__container {
    padding: 224px 0 0 0;
    margin: 0;
  }
}
@media only screen and (max-width: 720px) {
  .quality {
    max-width: 327px;
    max-height: 509px;
    margin-top: 650px;
  }
  .quality::before {
    content: "";
    display: block;
    background: url(../../img/quality-mobile.png) no-repeat top;
    background-size: cover;
    max-width: 279px;
    max-height: 156px;
    left: 22px;
    top: -80px;
  }
  .quality__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FEFCF7;
    max-width: 279px;
    margin: 0 0 24px 0;
  }
  .quality__description {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    margin: 0;
    max-width: 279px;
  }
  .quality__container {
    padding: 130px 0 0 0;
    margin-left: 20px;
  }
}
.branchs__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-top: 168px;
  margin-bottom: 72px;
}

.branchs__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin: 48px 0 21px 0;
}

.branchs__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.branchs__description {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin: 0;
}

.branchs__list-item {
  margin-right: 160px;
}

.branchs__list-other {
  margin-right: 180px;
}

.branchs__container {
  margin-left: 85px;
}

@media only screen and (max-width: 1280px) {
  .branchs__container {
    margin: 0;
  }
  .branchs__item-title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #333D4B;
  }
  .branchs__description {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }
  .branchs__list-item {
    margin: 0 50px 0 0;
  }
  .branchs__list-other {
    margin: 0 70px 0 0;
  }
}
@media only screen and (max-width: 720px) {
  .branchs__title {
    max-width: 320px;
    text-align: center;
  }
  .branchs__list {
    flex-direction: column;
  }
  .branchs__description {
    text-align: center;
    max-width: 326px;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .branchs__item-title {
    max-width: 327px;
    text-align: center;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin: 47px 0 22px 0;
  }
  .branchs__image {
    margin-left: 135px;
  }
  .branchs__list-item {
    margin-bottom: 80px;
  }
  .branchs__list-other {
    margin-bottom: 80px;
  }
}/*# sourceMappingURL=main.css.map */